<div local-class="base-wrapper">
  <div local-class="main {{this.theme}}">
    <div local-class="function-keys">
      <Keyboard::FunctionKeys />
    </div>
    <div local-class="other-keys">
      <Keyboard::NormalKeys @keysRow="numbers" @lastLg={{true}} />
      <Keyboard::NormalKeys @keysRow="tab" @lastMd={{true}} @firstMd={{true}} />
      <Keyboard::NormalKeys @keysRow="caps" @lastLg={{true}} @firstLg={{true}} />
      <Keyboard::NormalKeys @keysRow="shift" @lastXLg={{true}} @firstLg={{true}} />
      <Keyboard::SpaceBarRow />
    </div>
  </div>
</div>